<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fireforceapps">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_daco_857032_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_daco_857032_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireForceApps">
        <activity
            android:name=".FiremanInformation"
            android:exported="false"
            android:label="Fireman Information"/>
        <activity
            android:name=".DontDo"
            android:exported="false"
            android:label="Dont Do This Things"/>
        <activity
            android:name=".Tips"
            android:exported="false"
            android:label="Tips Ketika Terjadi Kebakaran"/>
        <activity
            android:name=".BuildingCondition"
            android:exported="false"
            android:label="Building Condition" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Welcome, Vega" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>